data/*
images/*
limedrop/*
logs/*
!/**/.gitkeep
.idea
d2bs/d2bs.log
d2bs/d2bs.ini
d2bs/aiobot/data/*
d2bs/aiobot/logs/*
d2bs/aiobot/pickit/*
d2bs/aiobot/config/*
package.json
node_modules
yarn.lock
.editorconfig

